*.bak
*.sof
*.swp
~*
/sc_computer.asm.rpt
/sc_computer.done
/sc_computer.fit.rpt
/sc_computer.fit.smsg
/sc_computer.fit.summary
/sc_computer.flow.rpt
/sc_computer.jdi
/sc_computer.map.rpt
/sc_computer.map.smsg
/sc_computer.map.summary
/sc_computer.qws
/sc_computer.sld
/sc_computer.sof
/sc_computer.sta.rpt
/sc_computer.sta.summary
/sc_computer_assignment_defaults.qdf
/sc_computer_nativelink_simulation.rpt
/PLLJ_PLLSPE_INFO.txt
/c5_pin_model_dump.txt
/db/
/greybox_tmp/
/hps.sopcinfo
/hps/
/hps_isw_handoff/
/hps_sdram_p0_all_pins.txt
/incremental_db/
/modelsim/source/
/modelsim/testbench.cr.mti
/modelsim/vsim.wlf
/modelsim/work/
/pll.bsf
/pll.cmp
/pll.ppf
/pll.spd
/pll_sim.f
/pll_sim/
/.qsys_edit/
